
<%= link_to "back home", home_path %>

<h2>Meet our team</h2>
<ul>
  <% @members2.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ul>
<br>
<br>
<p>Now is <%= Time.now %><p>
<br>
<br>
<form>
    Data de nascimento: <input type="date" name="nascimento">
</form>
<br>
<br>
<form>
    Data de nascimento: <input type="datetime-local" name="bdaytime">
</form>
<form method="get" action="/index">
    <input type="text" name="nome" placeholder="Digite seu Nome aqui">
    <input type="e-mail" name="email" placeholder="Digite seu e-mail">
    <input type="submit" name="enviar" value="Enviar">    
</form>